{% if create_mode %}
    {% block initial_comments %}
        <h4 class="conversation-form__h4">{{_("Initial comments")}}</h4>
        <p class="helptext">
            {{ _('You can include as many as you want,') }}{{ ' ' }}
            {{ _('but they help engage your audience and expand the discussion.') }}{{ ' ' }}
            {{ _('Remember to provide minimal context and something for other users to explore.') }}{{ ' ' }}
            {{ _('You can add new comments at any time.') }}
        </p>
        <input type="hidden" name="comments_count" value="3">
        <div id="comment-list">
            {% for i in range(1, 4) %}
                <label>
                    {% trans %}Comment {{ i }}{% endtrans %}
                    <textarea maxlength="252" name="comment-{{ i }}"
                            placeholder="{{ _('Type your comment here') }} #{{ i }}"></textarea>
                </label>
            {% endfor %}
        </div>

        <a class="uppercase semi-bold" id="add-more-comments" tabindex="0">
            <i class="fa fa-plus text-accent"></i> <span class="text-accent">{{ _('Add more comments') }}</span>
        </a>
    {% endblock %}
{% endif %}