{% from 'ej/includes/menu-item.jinja2' import menu_item %}


<nav class="participant-menu">
    <div aria-labelledby="menu-conversation" class="participant-menu__item">
        <div class="page-menu__links">
            <a href="{{ url('profile:home') }}">
                <i class="fa fa-chevron-circle-up"></i>
                {{ _('Home') }}
            </a>

            <a href="{{ url('boards:conversation-list', board_slug=conversation.board.slug) }}">
                <i class="fa fa-chevron-circle-left"></i>
                {{ _('Board') }}
            </a>
        </div>

        <div class="menu-section__conversation-text">
            <span>{{conversation.text}}</span>
        </div>

        <div class="conversation-menu__buttons flex">
            {% if request.user.has_perm('ej.can_edit_conversation', conversation) %}
                    <div class="conversation-menu__edit-button">
                        <a href="{{ conversation.patch_url('conversation:edit') }}">
                            {{ _('Edit conversation') }}
                        </a>
                    </div>
                    <div class="conversation-menu__delete-button">
                        <a onclick="showConfirmationDelete()">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
            {% else %}
                <li>
                    <a href="{{ url('conversation:list') }}">{{ _('Back to conversations') }}</a>
                </li>
            {% endif %}
        </div>
    </div>

    {% include 'ej_conversations/includes/delete-confimation-modal.jinja2' %}
    <h3 class="text-accent participant-menu__item participant-menu__item--column-2 participant-menu__item--margin">{{ _('Collect opinions') }}</h3>
    <ul class="participant-menu__item">
        {{ menu_item(current_page, "dashboard", url('boards:dataviz-dashboard', **conversation.get_url_kwargs()), _('Dashboard')) }}
        {{ menu_item(current_page, "voting", conversation.patch_url('conversation:detail'), _('Voting')) }}
        {{ menu_item(current_page, "tools", conversation.patch_url('conversation-tools:index'), _('Tools')) }}
        {%- if request.user.has_perm('ej.can_moderate_conversation', conversation) %}
            {{ menu_item(current_page, "moderate", conversation.patch_url('conversation:moderate'), _('Manage Comments')) }}
        {% endif %}
        </ul>

    <hr class="nav-divider">

    <h3 class="text-accent participant-menu__item participant-menu__item--column-2 participant-menu__item--margin">{{ _('Model and Analyze') }}</h3>
    <ul class="participant-menu__item">
        {% if request.user.has_perm("ej.can_edit_conversation", conversation) %}
            {{ menu_item(current_page, "edit-groups", url('boards:cluster-edit', **conversation.get_url_kwargs()), _("Create/Edit groups")) }}
            {{ menu_item(current_page, "stereotypes", url("boards:cluster-stereotype_votes", **conversation.get_url_kwargs()), _("Manage personas")) }}
        {% endif %}

        {% for link in page_menu.links('conversations:detail-admin', request, conversation) %}
            <li>{{ link }}</li>
        {% endfor %}
        {% if request.user.has_perm("ej.can_view_report", conversation) %}
            <li class="report-section">
                <div onclick="showSection('isexpanded3', 'report-options-list');">
                    <div class="display-reports">
                        <input type="checkbox" id="isexpanded3"/>
                        <label for="isexpanded3"><i class="fa fa-chevron-down"></i></label>
                    </div>
                    <a id="reports" href="" onclick="setChecked('isexpanded3')">{{ _('Reports') }}</a>
                </div>

            <ul id="report-options-list">
                {% if request.user.has_perm("ej.can_view_report", conversation) %}
                    <li>
                        <div id="comments-report" class="comments-item">
                            <a href=" {{ url('boards:dataviz-comments',  **conversation.get_url_kwargs()) }}">
                                {{ _('Comments report') }}
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id="participants-report" class="users-item">
                            <a href=" {{ url('boards:dataviz-users',  **conversation.get_url_kwargs()) }}">
                                {{ _('Participants report') }}
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id="clusters" class="clusters-item">
                            <a href=" {{ url('boards:cluster-index', **conversation.get_url_kwargs()) }}">
                                {{ _('Opinion groups') }}
                            </a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
    </ul>

    {% for section in conversation.get_apps_links() %}
        <hr class="nav-divider">
        <h3 class="text-accent participant-menu__item participant-menu__item--column-2 participant-menu__item--margin">{{section["title"]}}</h3>
        <ul class="participant-menu__item">
                {% for link in section["links"] %}
                    {{ menu_item(current_page, link["current_page"], link["a"], link["text"]) }}
                {% endfor %}
        </ul>
    {% endfor %}


    <hr class="nav-divider">
    <h3 class="text-accent participant-menu__item participant-menu__item--column-2 participant-menu__item--margin">{{_("Help")}}</h3>
    <ul class="text-accent participant-menu__item participant-menu__help-section">
        <li><a href="{{ url("profile:tour")+'?completedTour=false' }}">{{_("Tour")}}</a></li>
        <li><a href="/docs" target="#blank">{{_("Documentation")}}</a></li>
    </ul>
</nav>

<script>
    function setChecked(check_id) {
        event.preventDefault();
        let checkbox = $(`#${check_id}`)[0];
        checkbox.checked = !checkbox.checked;
    }

    function showSection(check_id, section_id) {
        let checkbox = $(`#${check_id}`)[0];
        let section = $(`#${section_id}`)[0];
        section.className = checkbox.checked ? "show" : "hide";
    }

    function menuStarter() {
        let reports = $('#reports')[0]
        let url = window.location.href.split("/");
        var menuItem = url[url.length-2].split("-")[0];
        menuItem = $("." + menuItem + "-item")[0];

        if (!menuItem) return
        menuItem.parentElement.classList.add("participant-menu__item--selected");
        reports.click();

        var menuProfile = $("#show-floating-menu")[0];
    };

    menuStarter();
</script>
