//------------------------------------------------------------------------------
// GENERIC EJ UI ELEMENTS
//------------------------------------------------------------------------------

// Small tweaks
i.fa, i.fas, i.fab, i.far {
    margin: auto 0.5em;
}

.body {
    margin-bottom: 5rem !important;
    @include breakpoint('md') {
        margin-bottom: 0 !important;
    }
}

//------------------------------------------------------------------------------
// Intro title
.title {
    @extend .h2, .center, .text-accent;
}

.intro-paragraph {
    @extend .center;
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        @extend .title;
    }
    p {
        padding-left: size(1);
        padding-right: size(1);
    }
}

//------------------------------------------------------------------------------
// Tabs and categories
.tabs, .categories {
    @extend .row;

    div,a {
        font-weight: bold;
        color: $color-navigation-header-text;
        white-space: nowrap;
    }
}

.tabs {
    @extend .uppercase;
    justify-content: flex-start;
    border-bottom: 1px solid $color-theme-report-light-gray;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }

    &-container {
        display: flex;
        padding: unset !important;
        border-bottom: unset !important;

        & [is-selected] {
            @extend .text-accent;
            border-bottom-color: color('accent');
        }
    }

    a {
        margin-right: 2.625rem;
        padding-bottom: 1.125rem;
        cursor: pointer;
        text-align: center;
        width: 100%;
        border-bottom: 0.25rem solid transparent;
    }

    &--scroll-x {
        overflow-x: scroll;
    }
    &__tab-content {
        display: none !important;

        &--show {
            display: inherit !important;
        }
    }
}

.categories {
    @include color(mix(color('brand-lighter'), color('white')), 'brand');
    @extend .bold;
    flex-wrap: wrap;

    * {
        @extend .pad-1, .margin-x1;
        color: color('brand');
    }
    a:hover:not([is-selected]) {
        border-bottom-color: color('brand', $alpha: 0.5);
    }
}

//------------------------------------------------------------------------------
// Pop-up window
.popup {
    @extend .relative, .col;
    background-color: color('background');
    border: 1px solid color('accent');
    border-radius: 1rem;
    max-width: 30rem;
    overflow-y: auto;

    &__contents {
        @extend .pad-3, .center, .col;
        flex-grow: 1;
        height: 100%;
    }

    &__close {
        @extend .absolute, .pin-top, .pin-right, .margin-3;
        color: color('black');
    }
}

.overlay {
    @extend .fixed, .pin;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 500;

    > * {
        margin: 12.5vh auto;
        max-height: 75vh;
        min-height: 40vh;
        max-width: 80%;
    }
}

//------------------------------------------------------------------------------
// Toast element
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

.triangle {
    width: 0;
    height: 0;
    border: 0.46875rem solid transparent;
    border-top: 0;
    border-bottom: 0.8375rem solid $color-base-pink;
    transform: rotate(-90deg);

    &--top {
        transform: unset;
    }

    &--white {
        border-bottom-color: $color-brand-light;
    }
}


/* Animations to fade the snackbar in and out */
$toast-height: size(1.5);
$toast-opacity: 0.75;

@keyframes toast-show {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: $toast-height;
        opacity: $toast-opacity;
    }
}

@keyframes toast-hide {
    from {
        top: $toast-height;
        opacity: $toast-opacity;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

.toast {
    @include utilities('color-brand-lighter pad-3 shadow-2 semi-bold');
    align-items: center;
    animation: toast-show 0.25s 0.25s backwards, toast-hide 0.5s 4s forwards;
    border-radius: size(0.5);
    display: flex;
    filter: brightness(90%);
    justify-content: center;
    left: 0;
    max-width: 25rem;
    margin: auto;
    opacity: $toast-opacity;
    position: fixed;
    right: 0;
    top: $toast-height;
    width: 90%;
    z-index: 1001;
    margin-left: 45%;

    &__icon {
        @extend .pad-2;
        @include color('white' 'brand');
        border: 6px solid;
        border-radius: 50rem;
        box-sizing: content-box;
        line-height: 2rem;
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
    }
    &__content {
        > * {
            margin: 0 !important;
        }
        h1 {
            @include utilities('text-4 uppercase bold text-brand');
        }
    }
}
.toast--hide {
    display: none !important;
}
.toast--show {
    display: flex !important;
}
dialog.toast--show {
    border: unset;
}

@media only screen and (max-width: 1016px) {
    .toast {
        margin-left: auto;
    }
}
//------------------------------------------------------------------------------
// Description list (for profile and others)
.description {
    dt {
        @extend .bold, .text-6, .text-brand, .lowercase, .margin-0;
    }
    dd {
        margin: 0 0 2rem 0;
    }
}

.stat-slab {
    @extend .row, .wrap, .items-center;

    dl {
        @extend .pad-0;
        margin: 0 0 size(1) 0;

        dt {
            @extend .bold, .text-brand, .lowercase, .margin-0, .inline, .inline-block;
            width: size(3.5);
        }

        dd {
            @extend .bold, .inline-block;
            font-size: 2rem;
            line-height: size(1);
            margin: 0 0 2rem 0;
            position: relative;
            top: size(1.5);
            right: size(3);
            width: 0;
        }
    }
}

.square {
    border-radius: 5px;
    margin-top: 25px;
}

//------------------------------------------------------------------------------
// Tooltip component
.tooltip {
    @extend .absolute;
    display: contents;
    font-size: 0.875rem;
    text-align: center;
    z-index: 100;
    transition: .3s;

    &__content {
        @extend .pad-2, .absolute, .bold;
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease-in-out, visibility .1s;
        max-width: 50%;
        background-color: $color-theme-accent-light;
        color: $color-black-alternative;

        text-transform: none;
        font-family: "Work Sans", sans-serif;
        letter-spacing: 0;
        text-align: left;
        font-size: .625rem
    }

    &__icon {
        color: $color-navigation-header-text;
        margin-left: .5rem !important;
    }

    &:hover .tooltip__content {
        visibility: visible;
        opacity: 1;
    }
}

//progress bar element
.progress-bar {
    @include utilities('row flex-center items-center margin-y1');

    margin: 0 auto;
    max-width: 18em;

    &__progress {
        @include margin-scale((x: 1));

        display: flex;
        border: 1px solid color('brand');
        border-radius: 50rem;
        height: 0.5rem;
        width: 100%;
    }

    &--simple {
        margin: 0;
        text-transform: uppercase;
        color: $color-pink-light;
        font-size: .75rem;
        font-family: Work Sans;
        font-weight: 500;
        line-height: 1.25rem;
        max-width: fit-content;

        strong {font-weight:normal;}

        .progress-bar__progress {
            border: 1px solid $color-pink-light;
            border-radius: 0.75rem;
            width: 6.188rem;
            margin-left: 0;
            margin-right: .75rem;
            :first-child{
                background-color: $color-pink-light !important;
            }
        }
    }
}

.form-profile--buttons{
    input[type=text]{
        border-radius: 1.5625rem !important;
    }
    &__cancel{
        background-color: $color-gray-darker !important;
    }
    &__save {
        background-color: $color-theme-dark-blue !important;
    }
}
