//------------------------------------------------------------------------------
// PAGE NAVIGATION ELEMENTS
//------------------------------------------------------------------------------
@import "../../config";

$_sm-header-height: size(2);
$_md-header-height: size(2.5);
$avatar-height: 36px;
$avatar-border: 50%;

body {
    display: flex;
    flex-direction: column;
}

//------------------------------------------------------------------------------
// header navigation

.main-container {
    width: 100%;
    text-align: left !important;
    margin: 0 0 0 18.75rem;
}

.main-header {
    @include utilities("row items-center center sticky pin-top");
    @include color("navigation");

    z-index: 1000;

    > * {
        @include utilities("pad-x1");
        display: flex;
        align-items: center;
    }
    > a {
        display: flex;
        align-items: center;

        color: color("navigation-text");
        height: $_sm-header-height;

        i {
            color: $color-accent;
        }
    }

    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
    height: 3rem;
    line-height: 3.5rem;
    order: -1;
    width: 100%;

    &__logo img {
        height: $_sm-header-height * 0.6;
        position: relative;
    }

    &__avatar {
        display: flex;
        border-radius: $avatar-border;
        width: $avatar-height;
        height: $avatar-height;
        object-fit: cover;
    }
}

// Reorganize using media queries
@include breakpoint("sm") {

    .container-temporary {
        max-width: 64vw !important;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    .measure-wide {
        max-width: 60vw;
    }

    .main-header{
        line-height: 2.5rem;
        top: 0;

        @include breakpoint("md") {
            > * {
                padding: 0 size(0.5);
            }
        }
    }
    .main-header {
        align-items: center;
        justify-content: space-between;

        > a {
            text-align: left;
            line-height: $_md-header-height;

            &:nth-child(1) {
                display: none;
            }
        }

        &__user {
            > a {
                display: flex;
                align-items: center;
            }

            &:hover #show-floating-menu {
                opacity: 1 !important;
                visibility: visible !important;
                right: 10px;
            }
        }
    }
}

//------------------------------------------------------------------------------
// Sidebar / menu

.nav-divider {
    border-top: 1px solid $color-navigation-header;
    margin: 0 0.625rem;

    &--darker {
        border-top: 1px solid $color-theme-report-gray;
    }
}

.page-menu {
    max-height: 600px;
    height: 100%;
    z-index: 750;
    position: fixed;
    transition: .3s;
    background-color: $color-navigation-menu-background;
    border-right: 1px solid rgba(0, 0, 0, .05);
    overflow: hidden auto;

    @media only screen and (max-width: 900px){
        width: 80%;
        min-width: 80%;
        max-width: 80%;
    }

    @media only screen and (min-height: 500px) and (max-width: 800px) {
        max-height: unset;
    }

    &--disable-overflow {
        height: 100%;
        overflow: hidden;
    }

    h3 {
        font-family: 'Work Sans', 'sans-serif';
    }

    &__links {
        display: flex;
        gap: 2.219rem;
        padding: 2.25rem 0 1.75rem;
        border-bottom: 1px solid $color-gray-darker;

        a {
            font-weight: 600;
            font-size: 0.75em;
            letter-spacing: 0;
            line-height: 0;
            color: $color-complementary-gray;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            i {
                font-size: 1.188em;
                margin-left: 0;
            }
        }
    }

    .nav-categories {
        padding-top: 1.75rem !important;
        h3 {
            font-size: 1rem;
            letter-spacing: 0;
        }
        li {
            padding-top: 0.313rem;
        }
        a {
            font-size: 1rem;
        }
    }

    .menu-padding {
        &:first-child {
            padding-top: 1.75rem;
        }
        padding: 0 1.75rem 1.75rem;
    }

    .section-margin {
        margin-top: 3.125rem;
    }

    &[is-open=""] {
        width: 17rem;
    }

    &[is-menu] {
        width: 17rem;
        visibility: hidden;
        left: -100%;
    }

    &[is-open] {
        visibility: visible;
        left: 0;
        top: 3rem;
        z-index: 750;
    }

    nav {
        h1,
        h2,
        h3 {
            margin: 0;
            margin-bottom: .75rem;
        }

        ul {
            @include utilities("list-reset");
        }

    }
    nav:last-child {
        border-bottom: none;
    }
    .add-button {
        color: $color-brand;
    }

    .board-section {
        padding-bottom: 1.5rem;
        margin-top: 2.25rem;

        &__chevron-transition {
            transform: rotate(-90deg);
        }

        &__toggle-section {
            display: flex !important;
            justify-content: space-between;
            cursor: pointer;
        }

        #board-chevron-icon {
            color: $color-gray-darker;
            margin: 0;
        }
    }

    .board-list {
        li {
            display: flex;
            gap: 0.31rem;
            height: 1.7rem;
            color: $color-black;
            p {
                margin-right: 0.5rem;
                font-weight: 700;
            }
        }
        li.selected-board {
            background-color: $color-navigation-header;
            margin: 0rem -2rem 0rem -2rem;
            padding: 0rem 2rem 0rem 2rem;
        }
    }

    .report-section {
        .display-reports {
            color: $color-black;
            label {
                cursor: pointer;
                color: unset;
                text-indent: unset;
                margin-bottom: unset;
            }
        }
        div {
            display: flex;
        }
        label {
            i {
                margin-left: unset;
            }
        }
        ul {
            display: none;
            position: relative;
            li a {
                font-weight: unset;
            }
        }
        .selected {
            background: $color-navigation-header;
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
    }
}

#isexpanded3,
.isexpanded-cluster-comments {
    display: none !important;
}

.isexpanded-cluster-comments {
    &--overflow {
        overflow: scroll;
        max-height: 50vh;
    }
}

#isexpanded3:checked + label > i,
.isexpanded-cluster-comments:checked + label > i
{
    transform: rotate(180deg);
}

#show-floating-menu {
    top: 3rem;
    transition: .3s;

    &.hide {
        right: -20rem;
        display: block !important;
        visibility: hidden;
    }
}

.profile-avatar {
    border-radius: 66.5px;
    width: 44px;
    height: 44px;
    margin-right: .75rem;
    object-fit: cover;
}

.floating-menu {
    position: fixed;
    top: 3rem;
    right: 0;
    background: $color-white;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

    a {
        cursor: pointer;;
    }
    a, p {
        font-size: 1em;
        font-weight: 500;
        color: $color-black;
    }

    @media (max-width: 560px) {
        width: 13.5rem;
    }

    &__section {
        @include utilities("pad-2");

        ul {margin-bottom: unset;}

        li {
            line-height: 1.1875rem;
            margin-bottom: 0;
            text-align: left;
            list-style-type: none;

            @include utilities("pad-y2");
        }

        h3 {display: none;}

        &:first-child {
            @include utilities("pad-y3");
            margin-top: 0;
            height: 5.75rem;
            padding: 0 .75rem;
            background: $color-navigation-menu-background;
        }
    }

    &__username {
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 5rem;

        div {
            overflow: hidden;
        }

        p {
            margin: unset;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__profile, &__environment {
        i {
            color: $color-gray-darker;
        }
    }

    &__logout {
        text-align: left;
        background-color: $color-gray-darker;
        color: $color-white;

        form {
            margin-bottom: unset;
        }

        a {
            color: $color-white;
        }
    }
}

.menu-section {
    &__title {
        margin-bottom: 1.4375rem !important;
        color: $color-accent;
        font-weight: 400;
        font-size: 1em;
    }

    &__conversation-text {
        margin-top: 2.25rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
            max-height: 6rem;
            font-size: 1.25em;
            color: $color-theme-dark-blue;
            line-height: 1.46rem;
        }
    }
}

.conversation-menu {
    display: grid;
    grid-template-columns: 0.63rem auto 0.63rem;

    @media only screen and (max-width: 900px){
        grid-template-columns: 5% auto 5%;
    }

    &__buttons {
        margin-top: 1.5rem;
        gap: .93rem;
        justify-content: space-between;
    }

    &__edit-button a, &__delete-button a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.313rem;
        margin: 0;
    }

    &__delete-button {
        a {
            width: 3.125rem;
            height: 2.625rem;
            background-color: $color-red-negative;
            border: $color-red-negative;
        }
    }

    &__edit-button {
        flex-grow: 1;
        a {
            color: $color-white;
            background-color: $color-black;
            border: $color-black;
            height: 2.625rem;
            text-transform: none;
            letter-spacing: 0;
            font-size: 1em;
            line-height: 1.25rem;
            font-weight: 400;
            text-align: center;
        }
    }

    &__delete-button {
        a {
            background-color: $color-red-negative;
            border: $color-red-negative;
            font-size: 1em;

            i {
                font-size: 1.125em;
                color: $color-white;
            }
        }
    }

    &__links {
        padding: 2.25rem 0 1.75rem;
        border-bottom: 1px solid $color-navigation-header;
    }

    &__avatar {
        width: 3rem;
        height: 3rem;
        max-width: unset !important;
        display: flex;
        border-radius: 50%;
        object-fit: cover;
        border-style: none;
        margin-bottom: 1rem;
    }

    &__username {
        font-size: 1rem;
        color: $color-gray-darker;
        line-height: 1.17rem;
        overflow-wrap: anywhere;
        font-weight: 500;
    }

    &__conversation-text {
        font-size: 1.25em;
        color: $color-theme-dark-blue;
        line-height: 1.46rem;
        max-height: 6rem;
        overflow: hidden;
        margin-top: 2.625rem;
        margin-bottom: 2.375rem;
    }

    &__conversation-share {
        cursor: pointer;
        i {
            color: $color-theme-dark-blue;
        }
        span {
            color: $color-theme-dark-blue;
            font-weight: 500;
            margin-left: 0.375rem;
        }
    }

    &__conversation-info {
        margin-bottom: 1.4375rem;
        line-height: 1.17rem;

        i {
            color: $color-gray-darker;
        }
        span {
            text-transform: lowercase;
            color: $color-gray-darker;
            font-weight: 500;
        }
    }

    &__user-section {
        margin: 1.76rem 0 4.25rem 0;
    }

    &__buttons {
    }
}

.participant-menu {
    display: grid;
    grid-template-columns: 1.2rem auto 1.2rem;

    &__buttons {
        margin: 2.25rem 0;
        padding: unset !important;

        & a:last-child button {
            margin: unset !important;
        }

        button {
            width: 100%;
            border-radius: 0.3125rem;
            height: 2.625rem;
            text-transform: none;
            background-color: $color-theme-dark-blue;
            border-color: $color-theme-dark-blue;
            font-size: 1em;
            font-weight: 400;
            margin: 0 0 .625rem 0;
        }
    }

    &__item {
        h3 {
            margin: unset !important;
        }
    }
}

.participant-menu, .conversation-menu {

    &__item {
        overflow: hidden;
        text-overflow: ellipsis;
        grid-column: 2;
        font-size: 1em;
        padding: 0.32rem 0;

        i {
            color: $color-theme-report-dark-gray;
        }
        li {
            padding: .5rem;
            box-sizing: content-box;
            height: unset;
        }

        &--selected {
            background-color: $color-navigation-header-with-opacity;
            border-radius: .3rem;
            height: 2.25rem;
        }

        &--column-2 {
            grid-column: 2/3;
            padding: unset !important;
            font-weight: 400;
        }

        &--margin {
            margin-top: 1.93rem !important;

            &:last-child {
                @media only screen and (min-height: 500px) {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    &__welcome-title {
        font-size: 1.5em !important;
        line-height: 1.8rem !important;
        color: $color-black;
        margin-bottom: unset !important;
        padding: unset !important;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__home-divider {
        border-bottom: 1px solid $color-gray-darker;
        grid-column: 2;

        &--lighter {
            border-bottom: 1px solid $color-navigation-header;
        }
    }

    &__help-section {
        margin-bottom: 2.8rem !important;
    }

    .nav-divider {
        margin: 1rem 0.625rem 0 0.625rem !important;
        grid-column: 1/4;
    }
}

@include breakpoint("sm") {
    .page-menu {
        z-index: 750;

        li {
            margin-top: unset;
            margin-bottom: unset;
        }

        background-color: $color-navigation-menu-background;
        border-radius: 0;
        flex: 1;
        min-height: calc(100vh - 3rem);
        min-width: 18.75rem;
        max-width: 18.75rem;

        &,
        &[is-menu],
        &[is-menu][is-open] {
            display: block;
            width: 20%;
            height: unset;
            visibility: visible;
            left: 0;
        }
        nav {
            border: none;
            padding-top: 0;

            h1,
            h2,
            h3 {
                display: block;
                line-height: 1.125rem;
                margin-top: 0;

            }
        }

        nav:last-child::after {
            content: none;
        }
    }

    #page-wrapper {
        display: flex;
        align-items: stretch;
    }

    #page-wrapper > *:first-child {
        flex: 1;
    }

    .page-menu + * {
        flex: 5;
    }
}

#first-link {
    @extend .screen-reader;
    tab-index: 0;
    :focus {
        background: 0;
        bottom: size(0.5);
        padding: size(0.25);
        position: fixed;
        text-align: center;
        z-index: 1002;
    }
}

#docs {
    width: 100%;
    height: 100vh;
    display: contents;
    iframe {
        height: 100vh;
        width: 100%;
    }
}

@media (min-width: 560px) {
    #docs {
        iframe {
            height: 100vh;
            width: 100%;
        }
    }
}


#edit-board {
    display: flex;
    place-items: baseline;
    justify-content: space-between;
    padding-bottom: 1rem;

    .left-side {
        display: flex;
        place-items: baseline;

        h1 {
            margin-bottom: 0.1rem;
        }

        i {
            font-size: 1rem;
            padding-bottom: 5px;
        }
    }

    .right-side {
        display: none;
    }

    @media screen and (max-width: 559px) {
        .right-side {
            display: flex;
            place-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background: $color-primary;
            border-radius: 50%;

            i {
                color: white;
            }
        }
    }

}

#bg-modal {
    opacity: 0;

    &.show-board-statistics {
        display: block;
        opacity: .7;
    }

    @media screen and (max-width: 559px) {
        background: $color-black-alternative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 1005;
    }

}

.board-helptext {
    max-width: 580px;
}

.hide-board-statistics {
    @media screen and (max-width: 559px) {
        display: none;
    }
}

@media screen and (max-width: 559px) {
    .main-container {
        max-width: unset;
        margin: unset;
    }
}
