{% extends 'base.jinja2' %}
{% from "ej_profiles/includes/search-filter.jinja2" import search_filter %}
{% from "ej/includes/tabs.jinja2" import tabs %}

{% block menu %}
    {% include 'ej_conversations/includes/participant-menu.jinja2' %}
{% endblock %}

{% block content %}

<section class="content-grid content-grid--padding">
    <h1 class="text-accent">{{ _('Conversations') }}</h1>

    <div class="home-tabs">
        <div class="home-tabs__add">
            <i class="fa fa-plus-square fa-lg"></i>
            <a title="{{_('New conversation')}}"
                href="{{ url('boards:conversation-create', board_slug=user_boards.first().slug) }}">
                {{_('Create new')}}
            </a>
        </div>
        {{ tabs({
            _('Public Conversations'): 'public-conversations',
            _('My conversations'): 'my-conversations',
            _('My Votes'): 'contribution-votes',
            _('My Comments'): 'contribution-comments'}) }}
    </div>

    <div id="public-conversations" class="content-grid tabs__tab-content">
        {{ search_filter(all_tags, participated_tags, "public", has_filtered_tag, host, "is_promoted") }}
        <div class="alternate-cards" id="public-current-cards">
            {% for conversation in public_conversations %}
                <div class="margin-y3">{{ conversation|role('card', button_text=_("Participate")) }}</div>
            {% endfor %}
        </div>
    </div>

    <div id="my-conversations" class="my_conversations content-grid tabs__tab-content">
        {% if created_conversations %}
            {{ search_filter(my_tags, my_tags, "my", has_filtered_tag, host, "is_author") }}
        {% else %}
            <p class="my_conversations__message">{{_("You have not created any conversations.")}}</p>
        {% endif %}
        <div class="alternate-cards" id="my-current-cards">

            {% for conversation in created_conversations %}
                <div class="margin-y3">
                    {{ conversation|role('card', button_text=_("Gerenciar!"), url=url('boards:dataviz-dashboard',  **conversation.get_url_kwargs())) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="contribution-votes" class="contribution-votes tabs__tab-content">
        <div class="contribution-votes__card">
            {{ render_conversations(voted_conversations) }}
        </div>
    </div>

    <div id="contribution-comments" class="contributions-comments tabs__tab-content">
        {{ render_comments(comments) }}
    </div>

</section>
{% endblock %}

{% macro render_conversations(conversations) %}
    {% if not conversations %}
        <p class="contribution-votes__message contribution-votes__message--no-margin-top">{{_("You haven't voted in any conversations yet.")}}</p>
    {% endif %}
    {% for conversation in conversations %}
        <div id="current-votes">
            {{ conversation|role('summary') }}
            {{ conversation|role('user-home-progress', user=user) }}
            <hr>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_comments(comments) %}
    {% if comments.count() <= 0 %}
        <p class="contribution-votes__message">{{_("You haven't commented in any conversations yet.")}}</p>
    {% else %}
        {% include 'ej_profiles/includes/comments-tags-filter.jinja2' %}
        <div id="comments-current-cards">
            {% for comment in comments %}
                {{ comment|role('summary') }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
