{% from "ej_dataviz/reports/includes/pagination-macro.jinja2" import pagination %}

<div id="report-table-container">
    <div id="datatables-container">
        <table id="users-table" class="display cell-border">
            <thead>
                <tr>
                    <th>{{_("User")}}</th>
                    <th><i class="fa fa-check" title={{_("Agree")}}></i></th>
                    <th><i class="fa fa-times" title={{_("Disagree")}}></i></th>
                    <th><i class="fa fa-arrow-right" title={{_("Skipped")}}></i></th>
                    <th>
                        <i class="fas fa-users" title={{_("Participation index")}}></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in page %}
                    <tr>
                        <td>
                            <div class="report__user">
                                <div>{{user[1]}}</div>
                                <div>{{user[2]}}</div>
                                {% if user|length > 9 %}
                                    <div>{{user[9]}}</div>
                                {% endif %}
                            </div>
                        </td>
                        <td class="report__percentages">{{"%s%%"|format(user[4]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(user[5]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(user[6]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(user[7]|round)}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination(page) }}

    <script>

        $(document).ready( function () {
            let dataTableOptions = {
                bInfo: false,
                ordering: false,
                destroy: true,
                paging: false,
                searching: false,
                responsive: true,
                columns: [
                    { data: '{{_("Comment")}}', className: 'desktop' },
                    { data: '{{_("Agree")}}', className: 'desktop' },
                    { data: '{{_("Disagree")}}', className: 'desktop' },
                    { data: '{{_("Skipped")}}', className: 'desktop' },
                    { data: '{{_("Participation")}}', className: 'desktop' },
                ]
            }
            if(window["usersTable"]) {
                dataTableOptions["destroy"] = true;
                $('#users-table').DataTable(dataTableOptions);
            } else {
                window["usersTable"] = $('#users-table').DataTable(dataTableOptions);
            }
        });
    </script>
</div>
