@import '../node_modules/mendeleev.css/src/elements';

h1,
h2 {
    margin: unset;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1em;
}

label + input + br,
label + textarea + br,
label + select + br {
    display: none;
}

.flex {
    display: flex;
}
.flex--wrap {
    @extend .flex;
    flex-wrap: wrap;
}

.flex--gap-1 {
    gap: 1rem;
}
.wrap {
    flex-wrap: wrap;
    justify-content: space-between !important;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.inline-grid {
    display: inline-grid;
}


input + .helptext,
textarea + .helptext,
select + .helptext,
input + br + .helptext,
textarea + br + .helptext,
select + br + .helptext {
    @extend legend;
    margin-top: size(0.25) - $mendeleev-label-margin-bottom !important;
    margin-bottom: size(1);
    margin-left: size(0.5);
}

.helptext {
    font-size: 1rem;
    text-align: left;
    color: $color-theme-report-dark-gray;
    &-center{
    text-align: center;
    max-width: 50%;
    margin: auto;
    }
}

label + ul.errorlist {
    margin-top: size(-0.5);
    margin-bottom: 0;

    & > li:last-child {
        margin-bottom: 0;
    }
}

ul.errorlist {
    color: color('red');
    font-size: 0.75rem;
    font-weight: 600;
    list-style: none;
    margin: size(0.25);
    text-align: left;
    font-style: italic;
}

.terms {
    &__content {
        height: 20rem;
        overflow: scroll;
        font-size: .9rem;
        border-radius: 0.3125rem;
        height: 6.725rem;
        color: $color-theme-report-dark-gray;
    }
    &__checkbox {
        font-size: .8rem;

        label {
            margin-bottom: 4.145rem;
        }
    }
    label {
        text-transform: unset;
        font-weight: 700;
        font-size: 0.875rem;
        color: $color-theme-dark-blue;
    }
}

.register-form {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: 2/5;
        margin-bottom: 2.1875rem;
        margin-top: 4.5rem;
    }

    &__image {
        width: 5.4rem;
        height: 4.6rem;

    }

    &-container {
        display: grid;
        grid-template-columns: 7% 40.5% 5% 40.5% 7%;
        max-width: unset !important;
        padding: unset !important;

        ul.errorlist {
            margin-top: -1rem;
        }

        &--first-column {
            grid-column: 2;
        }

        &--second-column {
            grid-column: 4;
        }

        &--full-width {
            grid-column: 2/5;
        }
        &--align-end {
            justify-self: end;
        }
    }

    &__submit-button {
        width: fit-content;
        padding-left: 5.5rem !important;
        padding-right: 5.5rem !important;
        height: 3.3rem !important;
        margin-bottom: 5.9rem !important;
        border: unset !important;
    }

    &__label {
        font-size: 1rem;
        text-transform: initial;
        font-weight: 500;
        color: $color-theme-dark-blue;
    }

    &__label--margin {
        margin-bottom: 0.75rem;
    }

    &__input--margin {
        input {
            margin-bottom: 4.145rem;
        }
    }

    &__register-buttons {
        display: flex;
        align-items: start;
    }

}

.login-form {
    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 2.0625rem;
    }

    &__input {
        input[type='password'] {
            margin: 0;
            margin-top: -1.125rem;
        }

        input {
            border-radius: 0.625rem !important;
            background-color: $color-theme-report-gray-blue-transparent;
            margin-bottom: 2.0625rem;
        }
    }

    &__label {
        text-transform: initial;
    }

    &__button-container {
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 2.0625rem 0 2.0625rem;
    }

    &__submit-button {
        width: 14.0625rem;
        height: 3.3125rem !important;
        margin-bottom: unset !important;
        border: unset !important;
    }

    &__reset-password {
        color: $color-accent;
        font-family: "Work Sans", sans-serif;
    }
    &__reset-password:hover {
        color: $color-accent !important;
    }

    &__social-button {
        width: 17.5rem;
        height: 3.36rem;
        border: 1px solid $color-button-gray;
        border-radius: 0.3125rem;
        box-shadow: 1px 1px 1px gray;;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.4375rem !important;

        span {
            font-weight: 700;
            color: $color-gray-darker;
            span {
                text-transform: capitalize;
            }
        }
        a i {
            background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat !important;
            -webkit-background-clip: text !important;
            background-clip: text !important;
            color: transparent !important;
            -webkit-text-fill-color: transparent !important;
            font-size: 1rem !important;
        }

        &--padding {
            padding: 0 1.5rem;
        }
    }
}

.register-redirection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
    margin: auto;
    padding: 0 1.5rem;

    &__hr {
        margin-bottom: 3.0625rem !important;
        width: 45%;
    }

    img {
        width: 9.3525rem;
        height: 7.9375rem;
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            color: $color-theme-dark-blue;
            font-family: "Work Sans", sans-serif;
            margin-bottom: 1.36rem;
        }

        a {
            border: 0.125rem solid $color-theme-dark-blue;
            background-color: white;
            color: $color-theme-dark-blue;
            height: 3.3125rem;
            line-height: 3.3125rem;
            width: 266px;
            border-radius: 0.3125rem;
            margin-bottom: unset;
        }

        a:hover {
            background-color: white !important;
            color: $color-theme-dark-blue !important;
        }
    }
}


//overwrite mendeleev rules
legend,
textarea,
label,
input {
    max-width: unset !important;
    text-indent: unset !important;
}
input:not(.button) {
    border: 1px solid color('brand');
    border-radius: 0.3125rem;
}
legend {
    margin: unset !important;
    text-align: unset !important;
}

.content-grid {
    grid-template-columns: minmax(4%, auto) minmax(auto, 1400px) minmax(4%, auto);
    display: grid;

    & > * {
        grid-column: 2;
    }

    &--padding {
        padding: 2rem 0 0 0;
    }
    @media only screen and (max-width: 900px) {
        & {
            grid-template-columns: 3% auto 3%;
            grid-template-rows: auto auto;
        }

        &--padding {
            padding: 1rem 0 0 0;
        }
    }
}

.header-space {
    margin-top: 1.5rem;
}

.loader {
    width: 18px;
    height: 18px;
    border: 2px solid $color-accent;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: 2rem;
}

.hide {
    display: none !important;
    opacity: 0;
}

.show {
    display: block !important;
    opacity: 1;
}

.htmx-request .loader{
    display:inline;
}
.htmx-request.loader{
    display:inline;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 320px) {
    .terms {
        &__content {
            height: 15.4rem;
        }

        &__checkbox {
            label {
                margin-bottom: 2.625rem;
            }
        }
    }
    .register-form {
        &-container {
            grid-template-columns: 7% 80% 7%;

            &--first-column {
                &--password {
                    input {margin: 0.375rem 0 1.5rem 0;}
                }
            }

            &--second-column {
                grid-column: 2/3;

                &--email {
                    input {margin: 0.375rem 0 1.5rem 0;}
                }
            }
            &--full-width {
                grid-column: 2/3;
            }
            &--align-end {
                justify-self: center;
            }
        }
        &__title {
            grid-column: 2/3;
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;

            h1 {
                margin: 3.375rem 0 1.5rem 0;
            }
        }
        &__image {
            width: 11.5625rem;
            height: 9.75rem;
            margin-bottom: 1.75rem;
        }

        &__input--margin {
            input {
                margin-bottom: 2.625rem;
            }
        }

        &__register-buttons {
            flex-direction: column-reverse;
            align-items: center;

            .login-form__social-button {
                width: 17.5rem;
            }
        }

        &__submit-button {
            margin-bottom: 0.9rem !important;
        }

    }

    .register-redirection {
        flex-direction: column;

        &__hr {
            width: 100%;
            padding: 0 1.5rem;
        }

        &__button {
            span {
                margin-top: 1.58rem;
            }
        }
    }

    .login-form {
        &__input #id_password {
            margin-bottom: 1rem;
        }

        &__button-container {
            flex-direction: column;
            row-gap: 1.21rem;
            margin-bottom: unset;
        }

        &__label {
            text-align: center !important;
        }

        &__social-button {
            width: 100%;
        }

        &__reset-password {
            margin-bottom: 1.1875rem;
        }

        &__submit-button {
            margin-bottom: 1.5rem !important;
        }
    }
}

@media (max-width: 900px) and (min-width: 321px) {
    .terms {
        &__content {
            height: 15.4rem;
        }

        &__checkbox {
            label {
                margin-bottom: 2.625rem;
            }
        }
    }
    .register-form {
        &-container {
            grid-template-columns: 4% auto 4%;

            &--first-column {
                &--password {
                    input {margin: 0.375rem 0 1.5rem 0;}
                }
            }

            &--second-column {
                grid-column: 2/3;

                &--email {
                    input {margin: 0.375rem 0 1.5rem 0;}
                }
            }
            &--full-width {
                grid-column: 2/3;
            }
            &--align-end {
                justify-self: center;
            }
        }
        &__title {
            grid-column: 2/3;
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;

            h1 {
                margin: 3.375rem 0 1.5rem 0;
            }
        }
        &__image {
            width: 11.5625rem;
            height: 9.75rem;
            margin-bottom: 1.75rem;
        }

        &__input--margin {
            input {
                margin-bottom: 2.625rem;
            }
        }

        &__register-buttons {
            flex-direction: column-reverse;
            align-items: center;

            .login-form__social-button {
                width: 17.5rem;
            }
        }

        &__submit-button {
            margin-bottom: 0.9rem !important;
        }

    }

    .register-redirection {
        flex-direction: column;

        &__hr {
            width: 100%;
            padding: 0 1.5rem;
        }

        &__button {
            span {
                margin-top: 1.58rem;
            }
        }
    }

    .login-form {
        &__input #id_password {
            margin-bottom: 1rem;
        }

        &__button-container {
            flex-direction: column;
            row-gap: 1.21rem;
            margin-bottom: unset;
        }

        &__label {
            text-align: center !important;
        }

        &__social-button {
            width: 100%;
        }

        &__reset-password {
            margin-bottom: 1.1875rem;
        }

        &__submit-button {
            margin-bottom: 1.5rem !important;
        }
    }
}
