//------------------------------------------------------------------------------
// CONVERSATION DETAIL (balloon / comment card / comment form / extra / progress bar)
//------------------------------------------------------------------------------
@import '../../../node_modules/mendeleev.css/src/components/mixins/arrow';
@import '_detail-header';
@import '_detail-sharing';

$component-border-radius: size(config('ej.style.border-radius'));

$color-brand-conversation-form: rgba(48, 191, 215 , .15);

@mixin themed($prop, $value: null) {
    @if $value == light {
        #{$prop}: $color-brand-conversation-form;
    } @else {
        #{$prop}: color('brand');
    }
}

.content-grid.margin-y3 {
    position: relative;
}

.conversation-balloon {
    @extend .center;

    .content-grid {
        grid-template-columns: minmax(4%, auto) minmax(auto, 1400px) minmax(14%, auto);

        @media (max-width: 875px) {       
            & {
                grid-template-columns: 3% auto 3%;
                padding: 1.5rem;
            }
        }
    }

    article {
        @include themed('background', light);

        text-align: left;

        #add-more-comments {
            margin-bottom: 3.375rem;
            color: $color-accent !important;
            text-transform: initial;
        }
    }
    h1 {
        @extend .text-accent;
        font-family: "Work Sans", sans-serif;
    }
    &__social {
        @include utilities('row pad-x4');

        bottom: 1.5rem;
        position: relative;
        i {
            color: color('accent');
        }
    }

    // For forms
    input,
    textarea {
        background: $color-white;
        border-radius: 0.375rem;
        height: 2rem;
        max-width: 100%;
        min-width: 9em;
    }
    textarea {
        height: 4.5rem;
        font-size: 1.5rem;
    }
    textarea::placeholder {
        @extend legend;
    }

    &__tags {
        margin-top: 1.5rem;
        label {
            margin-bottom: 0;
        }
    }

    &__title {
        label {
            margin-bottom: .5rem;
        }
        input {
            margin-bottom: 0;
        }
    }

    &__question {
        margin-bottom: 0;
    }

    .helptext {
        width: 85%;
        margin-top: 1rem;
    }

    .errorlist {
        margin-top: 0.875rem;
    }
}

.conversation-balloon article label,
.conversation-form div label,
.board-form label
{
    color: $color-theme-dark-blue;
    font-family: 'Work Sans', sans-serif;
}
.conversation-balloon article label:first-letter,
.conversation-form div label:first-letter {
    text-transform: capitalize;
}

.conversation-form { 
    width: 100%;
    margin-top: 3.188rem;
    display: grid;
    grid-template-columns: minmax(4%, auto) minmax(auto, 1400px) minmax(14%, auto);

    @media only screen and (max-width: 900px) {
        & {
            grid-template-columns: 3% auto 3%;
            padding: 1.5rem;
        }
    }

    &__h3 {
        font-size: 1.5rem;
    }
    &__h4 {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &__duration {
        display: flex;
        gap: 2.75rem;
        flex-wrap: wrap;
        input {margin-bottom: 0;}
    }

    &__custom-richtext {
        &__text {
            margin-top: 0.375rem;
        }
        margin-top: 1.75rem;
        .django-ckeditor-widget {
            width: 100%;
        }
    }

    label {
        margin-top: 1rem;
    }

    .helptext {
        width: 85%;
        margin-top: 1rem;
    }

    .block {
        input[type="number"] {
            margin: 0.375rem 0 0.688rem 0;
        }
    }

    &__create-button {
        float: right;

        @media (max-width: 875px) {
            & {
                text-align: center;
                float: none;
            }
        }

        .is-primary.button {
            padding: 0 3.375rem;
        }
    }

    label {
        margin-bottom: unset !important;
    }

    input {
        margin: 0.375rem 0 !important;
    }

    .form-component {
        &__drop-box {
            margin: 0.375rem 0;
            padding: 1.875rem 3.125rem;
            border-radius: 5px;
            border: 2px dashed $color-gray-200;
            background: $color-gray-50;
            text-align: center;
            height: 305px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.875rem;

            @media only screen and (max-width: 320px) {
                & {
                    padding: 1.875rem 2rem;
                }
            }
        }
            
        &__drop-box:nth-child(4) {
        margin-top: .813rem;
        }

        &__image {
            color: $color-theme-report-light-blue;
            font-weight: bold;
            display: block;
        }

        &__image-name {
            color: $color-gray-500;
            font-size: x-small;
        }

        &__message {
            margin-top: 1.813rem;

            &__label {
                margin-bottom: .75rem; 
                color: $color-theme-dark-blue; 
                font-size: 1em; 
                font-style: normal; 
                font-weight: 700; 
                line-height: 1.5rem; 
                text-transform: initial;
            }
        }

        &__upload-buttons {
            display: flex;
            justify-content: center;
            gap: 1.875rem;
            
            &--remove, &--view {
              text-transform: uppercase;
            }
            &--remove {
              color: $color-accent;
              
            }
            &--view {
              color: $color-complementary-gray;
            }
        }

        &--uploaded {
            display: flex;
            flex-direction: column;
            gap: 0.875rem;

            @media only screen and (max-width: 320px) {
                & {
                    width: 90%;
                }
            }
        }
    }
}

// Upload card
.dropzone {
    .upload {
        display: flex;
        padding: .5rem .75rem;
        justify-content: center;
        align-items: center;
        gap: .5rem; 
        border-radius: 5px;
        background: $color-theme-report-light-blue; 
        margin: auto;
        height: 2.5rem;
        text-transform: initial;
    }

    label {
        text-align: center; 
        margin-bottom: 1rem !important; 
        text-transform: initial;
    }

    &__hint-size {
        color: $color-gray-500 !important; 
        text-align: center; 
        font-size: 0.85em; 
        font-style: normal; 
        font-weight: 700; 
        line-height: normal;
    }

    &--label-margin-0 {
        margin-bottom: 0;
    }

    &__upload-card-content {
        text-align: center;
        font-size: 1.15em;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        color:$color-gray-500;

        &__field-title {
            color:$color-gray-500;
            text-align: center;
            font-size: 1em;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
        }

        &__hint {
           font-weight: 400; 
        }
    }

}

.comment-form {
    @include utilities('pad-3p margin-x2 width-full');

    border-radius: $component-border-radius;
}


.comment-form {
    @include utilities('center text-black');
    @include themed('background', light);

    label {
        @include utilities('regular margin-b2 text-black');
        text-transform: none;
    }

    textarea {
        background-color: color('$color-white');
        margin: size(1) 0 0 0;
        min-height: 10em;
        width: 100%;
    }
    form {
        margin: 0;
    }
    &__count {
        @include utilities('text-7');

        bottom: 2rem;
        color: color('black', $alpha: 0.5);
        float: right;
        position: relative;
        right: 0.5rem;
    }
    input[type=submit] {
        @include themed('background');

        border-color: css-var(--theme-color, color('brand'));
        margin-bottom: 0;
    }
}

.extra-content {
    @include utilities('center');

    margin: 2rem auto;
    width: 75%;

    h1 {
        @include utilities('text-4 uppercase text-brand sans-serif bold');
    }
}

.voting-card {
    border-radius: 5px;
    background: rgba(48, 191, 211, 0.15);
    padding: 2.875rem 2.625rem 1.531rem 3rem;
    grid-row: 1;

    @media (max-width: 375px) {
        & {
            bottom: unset !important;
        }
    }

        &__header {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0 3.25rem 0;
            gap: 1rem;
            align-items: center;
        }

        &__progress {
            display: flex;
            max-width: 8.5rem;
            &-bar {
                @extend .progress-bar;
                margin: unset;
                width: 6.1875rem;
                position: relative;
                &__progress,
                &__fg {
                    border-color: $color-black-alternative;
                }
                &__progress {
                    @extend .progress-bar__progress;
                    background-color: $color-white;
                }
                &__fg {
                    @extend .progress-bar__progress;
                    position: absolute;
                    background-color: $color-black-alternative;
                    left: 0;
                }
            }
            &__values {
                color: $color-black-alternative;
                font-family: Work Sans;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem;
                text-transform: uppercase;
                width: fit-content;
            }
        }

        &__label {
            color: $color-complementary-gray;
            font-family: Work Sans;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
        }

        &__label--bold {
            font-weight: 600 !important;
        }

        &__label--underline {
            text-decoration: underline;
        }

        &__add-comment {
            display: flex;
            width: max-content;
            background-color: white;
            border-radius: 0.3125rem;
            padding: 0.375rem;

            &--summary {
                display:inline;
                margin-right: 1.938rem;
            }

            i {
                margin-left: 0rem;
            }

            &:hover {
                color: $color-complementary-gray;
            }
        }

        hr {
            border: 1px solid $color-white;
        }

        &__comment {
            color: $color-black;
            font-family: "Work Sans";
            font-size: 1.25rem;
            font-style: normal;
            line-height: 125%;
            margin: 0.5rem 0 2.125rem 0;
            transition: opacity 1s;
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;

            &-avatar img {
                @extend .main-header__avatar;
                width: 48px;
                height: 48px;
                max-width: unset !important;
            }

            &--show {
                opacity: 1 !important;
            }
        }

        textarea {
            border-radius: 0;
            border-color: transparent !important;
            max-width: none;
            padding: 1rem 1.125rem;
            margin: 0.75rem 0 1.063rem;
        }

        .modal__buttons {
            display: flex;
            gap: 0.75rem;
            float: right;
            flex-wrap: wrap;

            @media (max-width: 875px) {
                & {
                    margin: 1rem 0 0 0;
                }
            }

            &--white, &--blue, &--gray {
                display: flex;
                padding: 0.875rem 1.5rem;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                border-color: transparent;
            }

            &--white {
                background: $color-white;
                color: $color-theme-report-blue;
            }

            &--blue {
                background:$color-theme-report-blue;
                color: $color-white;
            }

            &--gray {
                background:$color-button-gray;
                color: $color-complementary-gray;
            }
        }


    &__voting-form {
        margin-bottom: 0;

        &__back {
            display: none;
        }

        &__choices {
            display: flex;
            gap: 2.25rem;
            flex-wrap: wrap;
            justify-content: center;

            &--agree, &--disagree, &--skip {
                display: flex;
                height: 2.375rem;
                width: 8rem;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                font-size: 1rem;
                font-style: normal;
                line-height: normal;
                text-transform: lowercase;
                padding: 0;
                letter-spacing: 0px;

                i {
                    color: $color-white;
                }
            }

            &--agree {
                background-color: $color-theme-report-green;
                border: 1px solid $color-theme-report-green;
            }

            &--disagree {
                background-color: $color-disagree;
                border: 1px solid $color-disagree;
            }

            &--skip {
                background-color:transparent;
                border: 1px solid $color-black-alternative;
                color: $color-black-alternative;

                i {
                    color: $color-black-alternative;
                    transform: rotate(45deg);
                }
            }

            @media (max-width: 430px) {
                & {
                    gap: 1rem;
                }
            }
        }

    }

    &__message {
        padding: 1rem 0 2rem 0;
        color: $color-black-alternative;
        font-family: "Work Sans";
        font-size: 1.5em;
        font-style: normal;
        font-weight: 300;
        line-height: 125%;

        p {
            margin: 0;
        }
    }

    @media (max-width: 600px) {
        & {
            padding: 1.875rem 1.625rem 0.531rem 2rem;
            grid-column: 1 / 4;
        }
        & textarea {
            height: 30vh;
        }

        &__comment-avatar {
            display: none;
        }

    }
}

.comment-card {
    max-height: 529px;

    @media (max-width: 875px) {
        & {
            max-height: unset;
        }
    }

    &__limit-tooltip {
        color: $color-white;
        font-size: 1rem;
        place-items: center;
        padding: 0 0.75rem;
        border-radius: 5px;
        background: $color-pink-light;
        width: fit-content;
        min-height: 43px;
        margin-bottom: 21px;

        &__arrow {
            color: $color-pink-light;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $color-pink-light;
            position: relative;
            left: 80%;
            top: 100%;
        }
    }

    &__submit-container {
        margin-bottom: 1.3125rem;
        display: grid;
        justify-items: end;
    }
}

.no-margin {
    margin: 0;
}

.voting-card__voting-form__choices--disagree .loader,
.voting-card__voting-form__choices--agree .loader {
    border: 2px solid $color-white !important;
}
.voting-card__voting-form__choices--skip .loader {
    border: 2px solid $color-black-alternative !important;
}
.voting-card__voting-form__choices--disagree .loader,
.voting-card__voting-form__choices--agree .loader,
.voting-card__voting-form__choices--skip .loader {
    margin-top: unset !important;
    border-bottom-color: transparent !important;
}

@media (max-width: 875px) {
    .body {
        margin: unset !important;
    }
}
