{% extends 'ej_conversations/base.jinja2' %}
{% set main_class = 'pad-x0' %}
{% block menu %}{% include 'ej_conversations/includes/participant-menu.jinja2' %}{% endblock %}


{% block content %}
    <form method="POST" class="width-full" enctype="multipart/form-data">
        {{ csrf_input }}
        {% block balloon %}
            {% with create_mode=true %}
                {% include 'ej_conversations/includes/editable-conversation-balloon.jinja2' %}
            {% endwith %}
        {% endblock %}

        {% block form_content %}
            {{ form.media }}
            <div class="conversation-form content-grid">
                <div>
                    {# CONVERSATION FORM #}
                    <h1 class="text-accent">{{ _('Advanced settings') }}</h3>
                    <p class="helptext">
                    {{_("Optional fields. The following information serves to facilitate
                        the identification and management of your conversation.")}}</p>

                    <h4 class="conversation-form__h4">{{_("Anonymous participation")}}</h4>
                    <div class="block">
                        <label for="">{{form.anonymous_votes_limit.label}}</label>
                        {{form.anonymous_votes_limit}}
                        <legend>{{form.anonymous_votes_limit.help_text}}</legend>
                    </div>

                    <h4 class="conversation-form__h4">{{_("Conversation duration")}}</h4>
                    <div class="conversation-form__duration">
                        <div>{{form.start_date}}</div>
                        <div>{{form.end_date}}</div>
                    </div>

                    <h4 class="conversation-form__h4">{{_("Customize")}}</h4>
                    <div class="block">
                        <label for="">{{form.background_image.label}}</label>
                            {{form.background_image}}
                        <legend>{{_("This image will be presented to your audience on the participation page, 
                                allowing you to give more context to the researched topic")}}
                        </legend>
                    </div>
                    {% if "background_image" in form.errors %}
                        {{ form.errors["background_image"] }}
                    {% endif %}

                    <div class="block">
                        <label for="">{{form.logo_image.label}}</label>
                            {{form.logo_image}}
                        <legend>{{_("This image will be presented to your audience on the welcome page")}}
                        </legend>
                    </div>
                    {% if "logo_image" in form.errors %}
                        {{ form.errors["logo_image"] }}
                    {% endif %}

                    <div class="conversation-form__custom-richtext">
                        <label>{{_("Text to be displayed as welcome")}}</label>
                        <div class="conversation-form__custom-richtext__text">
                            {{form.welcome_message}}
                        </div>
                        <legend>{{_("This text will be presented to new participants who access
                            the shared link for this conversation")}}</legend>
                    </div>

                    <div class="conversation-form__custom-richtext">
                        <label>{{_("Text to be presented at the end of the collection")}}</label>
                        <div class="conversation-form__custom-richtext__text">
                            {{form.ending_message}}
                        </div>
                        <legend>{{_("This text will be presented to participants who have
                            completed the collection")}}</legend>
                    </div>

                    {% block conversation_form_button %}
                        <div class="margin-xauto margin-y4 conversation-form__create-button">
                            <input class="is-primary button" type="submit" value="{{ _('Create conversation') }}">
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}


{% block javascript %}
    {{ super() }}
    <!--suppress SpellCheckingInspection -->
    <script>
        window.addEventListener('load', function () {
            $('#add-more-comments')
                .on('click keypress', function (ev) {
                    // keycodes: 13 = return; 32 = space
                    if (ev.type === "keypress" && (![13, 32].includes(ev.keyCode))) return;
                    var $input = $('input[name="comments_count"]'),
                        index = parseInt($input.val(), 10) + 1,
                        template = (
                            '<label>' +
                            `{{ gettext(" Comment ") }} ${index}` +
                            '<textarea name="comment-%i%" placeholder="{{ _('Type your comment here') }} #%i%"></textarea>' +
                            '</label>');
                    $input.val(index);
                    $('#comment-list').append(template.replace(/%i%/g, index));
                });
        });
    </script>
{% endblock %}

