.modal {

    &__overlay {
        display: flex;
        position: fixed;
        place-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 750;

        &.hide {visibility: hidden;}

        > * {
            min-height: 0;
            margin: auto;
        }

        background: rgba($color-black-alternative, .25);
    }

    &__container {
        @extend .pad-4;
        position: relative;
        min-width: 25rem;
        z-index: 1250;
        background-color: $color-modal-background;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        border-radius: .5rem;

        h3 {
            color: $color-black-alternative;
        }

        &--lighter-bg {
            background-color: $color-modal-background-lighter;
        }
        &--text-align-unset {
            text-align: unset !important;
        }

        &--sm-height {
            @extend .modal__container;
            max-height: 80vh;
            max-width: 50rem;
            width: 90%;

            @media (max-width: 414px) {
                & {
                    padding: 1rem;
                    width: 95%;
                    height: 0;
                    max-height: unset;
                    transition: height .5s;
                }

                &-transition {
                    height: 70vh;
                }
            }
        }

        &--sm {
            @extend .modal__container;
            min-width: 20rem;
        }

        &--md {
            @extend .modal__container;
            min-width: 35rem;
        }

        &--lg {
            @extend .modal__container;
            min-width: 45rem;
        }

        &-center-content {
            padding: 4.375rem 3.75rem;
            min-width: 25rem;
            text-align: center;
        }

        &--quick-action {
            display: flex;
            gap: 1.875rem;
            margin: 0;
            width: 17.438rem;
            flex-direction: column;
        }
    }

    &__icon {
        width: 67px;
        &--alert {color: $color-theme-red;}
        &--success {color: $color-theme-green;}
    }

    &__title {
        position: relative;
        color: $color-black-alternative;
        font-size: 1.5rem;
        font-family: "Work Sans", sans-serif;
        margin-bottom: 1rem;
    }

    &__close-btn {
        position: absolute;
        right: 0;
        top: 0;
        color: $color-black-alternative;
        cursor: pointer;

        background: transparent;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 1rem;

        &:hover {box-shadow: none;}
    }

    &__buttons {
        display: grid;
    }

    &__btn {
        @extend .pad-3;
        width: 100%;

        cursor: pointer;
        display: flex;
        place-items: center center;
        justify-content: center;
        gap: .5rem;
        border: none !important;
        border-radius: 3rem;

        font-size: .875rem;

        i {
            margin: 0;
        }

        &--red {
            @extend .modal__btn;
            background-color: $color-red-negative;
        }

        &--blue {
            @extend .modal__btn;
            background-color: $color-theme-dark-blue;
        }

        &--no-fill {
            @extend .modal__btn;

            color: $color-navigation-header-text;
            background: none;
            padding: 0;

            &:hover {
                box-shadow: none;
            }
        }

        &--black {
            background-color: $color-black-alternative;
            color: $color-white;
            border: none;
        }
    }

    &__btn-alternative {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1.875rem;
        justify-content: center;

        &--red, &--gray {
            width: 6.313rem;
            height: 2.75em;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            font-size: 0.875em;
            letter-spacing: 0;
        }

        &--red {
            background-color: $color-red-negative;
        }

        &--gray {
            background-color: $color-gray-darker;
        }
    }

    &--full-screen-mobile {
        @media (max-width: 414px) {
            & {
                position: fixed;
                bottom: 0;
                margin: unset !important;
            }
        }
    }

    &--hide-overflow-y {
        overflow-y: hidden;
    }
}
